<h1><%= t '.title' %></h1>

<%= render 'event_item' %>

<p>
  <%= link_to(events_path) do %>
    <button class="btn btn-primary"><%= t :all_events %></button>
  <% end %>
  <%= link_to root_path do %>
    <button class="btn btn-primary"><%= t :back_home %></button>
  <% end %>
</p>
