<p>
  Retrouvez-nous sur les réseaux sociaux :
  <%= link_to 'Github', 'https://github.com/webdevesgi', target: '_blank' %>
  <%= link_to 'Twitter', 'https://twitter.com/LaboWebESGI', target: '_blank' %>
  <%= link_to 'Facebook', 'https://www.facebook.com/groups/webdevesgi', target: '_blank' %>
  <br>
  © <%= link_to 'ESGI', 'http://esgi.fr', target: '_blank' %>
  <%= l Date.today, format: "%Y" %>
</p>